<main id="swup" class="transition-fade">
  <div class="content">
    <section class="webdesigntuts-workshop">
      <form action="" method="">		    
        <input type="search" placeholder="Browse Games">		    	
        <a href="/shop"><button><i class="fa fa-search"></i></button></a>
      </form>
    </section>
    <h1>The Largest Library of Games Anywhere!</h1>
</main>