<main id="swup" class="transition-fade">
  <div class="content">
    <h1>Play your way</h1>
    <p>Anywhere, Anytime, with Anyone</p>
    <a href="/about"><button class="btn">Read More</button></a>
  </div>
</main>
