<div id="navbar" class="navbar">
  <h1 class="logo">
    <span class="text-primary"><i class="fas fa-gamepad"></i> Atomic </span>
    Gaming
  </h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Browse">Browse</a></li>
      <li><a href="/Cart">Cart</a></li>
      <% if (!authenticated) { %>
      <li><a href="/Login">Log In</a></li>
      <li><a href="/SignUp">Sign Up</a></li>
      <% } else { %>
      <li>
        <form action="/logout" method="GET">
          <a href="#" id="logout">Log out</a>
          <input style="display: none" type="submit" id="hi" />
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</div>

<script>
  const logout = document.querySelector("#logout");
  if (logout) {
    logout.addEventListener("click", (e) => {
      document.querySelector("#hi").click();
    });
  }
</script>
