<div class="content">
  <h1>Search Results</h1>
  <table class="search-table">
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>In Stock</th>
      <th>Price</th>
    </tr>
    <tr>
      <th>Destiny 2: Beyond Light</th>
      <th>T</th>
      <th>Yes</th>
      <th>$39.99</th>
      <th><button onclick="addToCart(1)">Add to Cart</button></th>
    </tr>
    <tr>
      <th>Assassin's Creed Valhalla</th>
      <th>M</th>
      <th>No</th>
      <th>$59.99</th>
      <th><button onclick="addToCart(2)">Add to Cart</button></th>
    </tr>
    <tr>
      <th>Call of Duty Modern Warfare</th>
      <th>M</th>
      <th>Yes</th>
      <th>$59.99</th>
      <th><button onclick="addToCart(3)">Add to Cart</button></th>
    </tr>
    <tr>
      <th>Among Us</th>
      <th>E</th>
      <th>Yes</th>
      <th>$19.99</th>
      <th><button onclick="addToCart(4)">Add to Cart</button></th>
    </tr>
    <tr>
      <th>The Elder Scrolls V: Skyrim</th>
      <th>M</th>
      <th>Yes</th>
      <th>$39.99</th>
      <th><button onclick="addToCart(5)">Add to Cart</button></th>
    </tr>
    <tr>
      <th>Assassin's Creed Odyssey</th>
      <th>M</th>
      <th>Yes</th>
      <th>$59.99</th>
      <th><button onclick="addToCart(6)">Add to Cart</button></th>
    </tr>
    <tr>
      <th>Cyberpunk 2077</th>
      <th>M</th>
      <th>No</th>
      <th>$59.99</th>
      <th><button onclick="addToCart(7)">Add to Cart</button></th>
    </tr>
  </table>
</div>

<div class="addedItem"><p>Added to the cart</p></div>
