<main id="swup" class="transition-fade">
    <div class="content">
      <h1>Search Results</h1>
            <p>Assassin's Creed Valhalla</p>
            <p>Call of Duty Black Ops: Cold War</p>
            <p>Destiny 2: Beyond Light</p>
    </div>
  </main>