<main id="swup" class="transition-fade">
    <div class="content">
      <h1>Sign Up</h1>
      <p>Here you can register for an account!</p>
      <a href="#team" class="btn">Register</a>
    </div>
  </main>

<!--Created this file to prove a point. Having a sign up portal in the login page
as well as a separate page dedicated to signing up is unnecessary.-->